.link-input {
    &__container {
        background-image: url('../../images/bg-shorten-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 1200px;
        width: 100%;
        padding: 30px;
        background-color: hsl(257, 27%, 26%);
        display: flex;
        justify-content: space-between;
        gap: 20px;
        border-radius: 5px;
    }

    &__input {
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        outline: none;
    }

    &__button {
        padding: 20px 35px;
        background-color: hsl(257, 7%, 63%);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
        transition: background-color 0.3s linear;

            &:hover {
                background-color: hsl(180, 66%, 49%);
            }
    }
}