.header {
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__link {
        color: hsl(257, 7%, 63%);
        transition: color 0.3s linear;
        border: none;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;

        &:hover {
            color: hsl(260, 8%, 14%);
        }

        &_blue {
            color: white;
            background-color: hsl(180, 66%, 49%);
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding: 5px 15px;
            border-radius: 20px;
            transition: background-color 0.3s linear;

            &:hover {
                background-color: hsl(257, 27%, 26%);
            }
        }
    }

    &__right {
        display: flex;
        gap: 30px;
        align-items: center;
    }
}