.main {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 120px;

        &-left {
            display: flex;
            flex-direction: column;    
            width: 40%;
            gap: 15px;            
        }

        &-header {
            font-family: 'Roboto';
            font-size: 58px;
            font-weight: 700;
            color: hsl(255, 11%, 22%);
        }

        &-subtitle {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            color: hsl(257, 7%, 63%);
        }

        &-link {
            color: white;
            background-color: hsl(180, 66%, 49%);
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding: 10px 30px;
            border-radius: 20px;
            transition: background-color 0.3s linear;
            width: max-content;

            &:hover {
                background-color: hsl(257, 27%, 26%);
            }
        }

        &-photo {
            width: 50%;
        }
    }

    &__gray {
        background-color: hsl(226, 37%, 93%);
        width: 100%;
        padding-bottom: 150px;

        &__link-input {
            transform: translateY(-60px);
            max-width: 1200px;
            width: 100%;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 40%;
            margin-bottom: 80px;

            &__header {
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 36px;
                color: hsl(255, 11%, 22%);
                text-align: center;
            }

            &__text {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: hsl(257, 7%, 63%);
                text-align: center;
                margin: 0px;
            }
        }
    }

    &__boost {
        background-image: url('../../images/bg-boost-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-color: hsl(257, 27%, 26%);
        padding: 40px 0;

        &-header {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 36px;
            color: white;
            text-align: center;
        }

        &-link {
            color: white;
            background-color: hsl(180, 66%, 49%);
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding: 10px 30px;
            border-radius: 20px;
            transition: background-color 0.3s linear;
            width: max-content;
            margin-top: 20px;

            &:hover {
                background-color: hsl(257, 27%, 26%);
            }
        }
    }
}